@media screen and (max-width:1200px) {
    body{
        padding-top: 10px;
        margin: auto;
    }
    main{
        width: 100%;
    }
    .tartalom{
        margin-top: 15px;
        margin-bottom: 20px;
        border-radius: 3px;
    }
    .tartalom_grid{
        margin-left: 0px; margin-right: 0px;
        grid-template-columns: 350px 350px 350px;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .tartalom .welcome{
        font-size: 20pt;
    }
    .tarolo {
        min-height: 280px;
    }

}

